.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
}

.ferric-tech-logo-container {
  display: flex;
  height: 15vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bold;
  font-size: xx-large;
  justify-content: center;
}

.footer-container {
  display: flex;
  height: 20vh;
}
