<div class="form-container">
  <div *ngFor="let item of config">
    <div
      class="input-container"
      *ngIf="item.type === formItemType.FREE_TEXT_SHORT"
    >
      <p>{{ item.title }}</p>
      <input type="text" />
    </div>
    <div
      class="long-input-container"
      *ngIf="item.type === formItemType.FREE_TEXT_LONG"
    >
      <p>{{ item.title }}</p>
      <textarea id="" name="" rows="4" cols="35"> </textarea>
    </div>
    <div class="select-container" *ngIf="item.type === formItemType.SELECT">
      <p>{{ item.title }}</p>
      <select name="" id="">
        <option value="none" selected disabled hidden>Select an Option</option>
        <option *ngFor="let option of item.options" value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
  </div>
</div>
