<div class="menu-carousel-container">
  <mat-icon class="menu-carousel-arrow-container" (click)="onArrowClick(false)"
    >keyboard_arrow_left</mat-icon
  >
  <div class="carousel-content-container">
    <img
      class="carousel-image-container"
      [src]="menu[menuOption].image"
      alt=""
    />
    <button
      *ngIf="menu[menuOption].url"
      (click)="onButtonClick()"
      class="carousel-button"
      mat-button
      color="primary"
    >
      {{ menu[menuOption].title }}
    </button>
  </div>

  <mat-icon class="menu-carousel-arrow-container" (click)="onArrowClick(true)"
    >keyboard_arrow_right</mat-icon
  >
</div>
