<div class="menu-carousel-container">
  <mat-icon class="menu-carousel-arrow-container" (click)="onArrowClick(false)"
    >keyboard_arrow_left</mat-icon
  >
  <div class="carousel-content-container">
    <img
      class="carousel-image-container"
      [src]="menu[menuOption].image"
      alt=""
    />
    <button
      *ngFor="let button of menu[menuOption].buttons"
      (click)="onButtonClick(button)"
      [ngClass]="
        button.type === buttonType.PRIMARY
          ? 'primary-button'
          : 'secondary-button'
      "
    >
      {{ button.text }}
    </button>
  </div>

  <mat-icon class="menu-carousel-arrow-container" (click)="onArrowClick(true)"
    >keyboard_arrow_right</mat-icon
  >
</div>
