<div class="menu-carousel-container">
  <mat-icon class="menu-carousel-arrow-container" (click)="onArrowClick(false)"
    >keyboard_arrow_left</mat-icon
  >
  <div class="carousel-content-container">
    <img
      class="carousel-image-container"
      [src]="options[menuOption].image"
      alt=""
    />
    <div *ngFor="let button of options[menuOption].buttons">
      <button
        *ngIf="button.url || button.internalUrl"
        (click)="onButtonClick(button)"
        [ngClass]="
          button.type === buttonType.PRIMARY
            ? 'primary-button'
            : 'secondary-button'
        "
      >
        {{ button.text }}
      </button>
    </div>
  </div>

  <mat-icon class="menu-carousel-arrow-container" (click)="onArrowClick(true)"
    >keyboard_arrow_right</mat-icon
  >
</div>
